.alert {
    width: 300px;
    height: 70px;
    background-color: var(--white);
    border-radius: 7px;
    position: fixed;
    bottom: 0;
    left: -100%;
    z-index: 9990;
    display: flex;
    flex-flow: row wrap;
    transition: 0.3s ease;
    > div {
        position: relative;
        width: 100%;
        > button {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    > p 
    {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;
    }
}
.error {
    border: 1px solid var(--red);
    border-left: 7px solid var(--red);
}
.warn 
{
    border: 1px solid var(--orange);
    border-left: 7px solid var(--orange);
}
.success {
    border: 1px solid var(--green);
    border-left: 7px solid var(--green);
}
.show-alert {
    left: 5px !important;
    bottom: 5px !important;
}
