.developer
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-top: 5px solid var(--darkBlue);
    > a 
    {
        color: var(--black);
        > span 
        {
            color: var(--darkBlue);
        }
    }
}