.home_works {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 10px 30px var(--shadow);
    padding: 30px;
    > div {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        > i {
            font-size: 30px;
            margin: 12px 0;
        }
        > h3 {
            font-weight: 400;
            margin: 6px 0;
        }
        > p {
            font-weight: 300;
        }
        &:hover > i {
            opacity: 0.7;
        }
    }
}

@media only screen and (max-width:991px)
{
    .home_works
    {
        > div 
        {
            margin: 15px 0;
        }
    }
}
@media only screen and (max-width:575px)
{
    .home_works 
    {
        margin-top: 0 !important;
    }
}