.pagination {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    > button {
        width: 50px;
        height: 50px;
        background-color: var(--white);
        border: 1px solid var(--lightGray);
        border-right: none;
        transition: 0.3s ease;
        &:hover {
            background-color: var(--purple);
            color: var(--white);
        }
    }
    > button:last-of-type {
        border-right: 1px solid var(--lightGray);
    }
    > span {
        width: 20px;
        height: 20px;
        background-color: var(--purple);
        z-index: -1;
        position: relative;
    }
    > span:first-of-type {
        right: -16px;
        top: 33px;
    }
    > span:last-of-type {
        left: -16px;
        top: -3px;
    }
}

.active-page {
    background-color: var(--purple) !important;
    color: var(--white);
}
